<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>
    <link rel="stylesheet" href="/static/css/codemirror.css">
    <script src="/static/js/codemirror.js"></script>
    <script src="/static/js/python.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/js/vim.js"></script>
    <link rel="stylesheet" href="/static/css/show-hint.css">
    <link rel="stylesheet" href="/static/css/blackboard.css">
    <script src="/static/js/show-hint.js"></script>
</head>

<body>
    <h3 style="text-align: center; color: royalblue;">编辑脚本</h3>
    
    <div style="width: 100%; margin: 0 auto; font-size: 17px">
        <input type="button" class="btn btn-info" value="更新脚本" onclick="updateCode()">
        <form>
            <textarea id="myTextarea">{{ code }}</textarea>
        </form>
    </div>
    <script>
        const myTextarea = document.getElementById('myTextarea')
        const editor = CodeMirror.fromTextArea(myTextarea, {
            lineNumbers: true,
            mode: 'python',
            theme: 'blackboard'
        });
        editor.setSize(window.innerWidth, window.innerHeight);
        async function updateCode () {
            var code = editor.getValue();
            await fetch(
                document.location.pathname, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'text/plain'
                    },
                    body: code
                }
            ).then(async resp => {
                await resp.text().then(text => {
                    if (text === 'success')
                        alert('已更新');
                    else alert('更新失败');
                })
            });
        }
    </script>
</body>
</html>