<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>
    <link rel="stylesheet" href="/static/css/codemirror.css">
    <script src="/static/js/codemirror.js"></script>
    <script src="/static/js/python.js"></script>

    <script src="/static/js/vim.js"></script>
    <link rel="stylesheet" href="/static/css/show-hint.css">
    <link rel="stylesheet" href="/static/css/blackboard.css">
    <script src="/static/js/show-hint.js"></script>
</head>

<body>
    <h3 style="text-align: center; color: royalblue;">脚本内容</h3>
    <div style="width: 1300px; margin: 0 auto; font-size: 17px">
        <form>
            <textarea id="myTextarea">{{ code }}</textarea>
        </form>
    </div>
</body>
<script>
    const myTextarea = document.getElementById('myTextarea')
    const editor = CodeMirror.fromTextArea(myTextarea, {
        lineNumbers: true,
        mode: 'python',
        theme: 'blackboard',
    });
    editor.setSize('1300px', '700px')
</script>

</html>