<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <div align="left">
        <input class="btn btn-success" type="button" value="启动主脚本" onclick="loadMain()">
        <input class="btn" type="button" value="测试脚本" onclick="debugScript()">
    </div>

    <div class="run_log"></div>
    <script>
        function loadMain() {

        }
        function debugScript() {

        }
    </script>
</body>

</html>